.card_item {
  display: flex;
  align-items: center;
  padding: 12px;
  .flex_row {
    display: flex;
    align-items: center;
  }
  .card_check {
    flex-shrink: 0;
    margin-right: 8px;
    .un_select {
      width: 12px;
      height: 12px;
      border: 1px solid #bcbcbc;
      box-sizing: border-box;
    }
    .select_ed {
      width: 12px;
      height: 12px;
    }
  }
  .card_thum {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-right: 8px;
    img {
      max-width: 80px;
      height: 80px;
    }
  }
  .card_you {
    flex: 1;
    width: 0;
    height: 80px;
    .card_title {
      height: 20px;
      font-size: 14px;
      color: #323232;
      white-space: nowrap;       /* 禁止换行 */
      overflow: hidden;          /* 超出部分隐藏 */
      text-overflow: ellipsis;   /* 显示省略号 */
      max-width: 100%;
      line-height: 20px;
    }
    .card_you_zh {
      margin-top: 4px;
      justify-content: space-between;
      .card_amount {
        flex-shrink: 0;
        width: 50px;
        margin-right: 8px;
        color: #323232;
        font-size: 13px;
        line-height: 22px;
        border-radius: 0;
        white-space: nowrap;
      }
      .card_count {
        flex-shrink: 0;
      }
      
      .ant-input-number {
        width: 60px;
      }
      .ant-input-number-input {
        padding: 0 8px;
      }
    }
    .card_you_total {
      position: relative;
      margin-top: 4px;
      .card_total {
        flex-shrink: 0;
        color: #e52222;
        font-size: 12px;
        line-height: 20px;
        white-space: nowrap;
        margin-right: 8px;
      }
      .card_btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        span {
          color: #323232;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
}