.book_detail {
   padding: 40px;
   margin-top: 80px;
   .top_wrapper {
      width: 100%;
      display: flex;
      padding-bottom: 40px;
      .left {
         width: 30%;
         flex-shrink: 0;
         margin-right: 24px;
         img {
            display: block;
            width: 100%;
         }
      }
      .right {
         font-size: 14px;
         .title_wrapper {
            margin-bottom: 24px;
            .main_title {
               font-size: 20px;
               font-weight: 600;
               color: #000;
               margin-bottom: 8px;
            }
            .sub_title {
               color: #222;
               font-size: 14px;
               margin-left: 12px;
            }
         }
         .author {
            margin-bottom: 5px;
            color: #333;
            span {
               &+span {
                  margin-left: 10px;
               }
            }
         }
         .publisher {
            color: #333;
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            div {
               margin-bottom: 5px;
            }
         }
         .desc {
            div {
               color: #222;
               overflow: hidden; 
               text-overflow: ellipsis;    
               display:-webkit-box;         
               -webkit-box-orient:vertical; 
               -webkit-line-clamp:4;
            }
            margin-bottom: 10px;
            padding-bottom: 12px;
            border-bottom: 1px solid #f5f5f5;
         }
         .price_content {
            display: flex;
            align-items: end;
            .tax_wrapper {
               margin-left: 12px;
               line-height: 20px;
               padding-bottom: 4px;
               color: #565959;
            }
         }
         .price_wrapper {
            margin-top: 24px;
            width: max-content;
            display: flex;
            flex-direction: column;
            padding: 8px;
            border-radius: 8px;  
            border:1px solid #1890ff;
            background-color: #fcfaf7;
            font-weight: 600;
            color: #000;
            .price {
               padding-top: 4px;
               span {
                  color: #e52222;
               }
            }
         }
         .cart_wrapper {
            padding-top: 24px;
            display: flex;
            .ant-input-number {
               width: 65px;
               height: 36px;
               border-radius: 0;
               .ant-input-number-handler-wrap  {
                  opacity: 1 !important;
               }
            } 
            .cart_input {
               margin-right: 12px;
            }
            .add_cart {
               cursor: pointer;
               padding: 0 12px;
               height: 36px;
               display: flex;
               align-items: center;
               color: #fff;
               font-size: 16px;
               font-weight: 600;
               background: #ff2832;
               line-height: 36px;
               .anticon  {
                  font-size: 20px;
               }
               .text {
                  margin-left: 8px;
               }
            }
         }
      }
   }
   .main_wrapper {
      .min_title {
         font-size: 18px;
         font-weight: 600;
         line-height: 24px;
         padding-bottom: 10px;
         border-bottom: 1px solid #e1e7eb;
         margin-bottom: 24px;
      }
      .desc {
         line-height: 20px;
         font-size: 16px;
         margin-bottom: 40px;
      }
      .detail_img {
         img {
            width: 100%;
         }
      }
   }
}

@media screen and (max-width: 700px) {
   .book_detail {
      padding: 16px;
      .top_wrapper {
         flex-wrap: wrap;
         .left {
            width: 100%;
            margin-bottom: 24px;
         }
      }
   }
}