.navbar{
    display: flex;
    justify-content: space-between;
    background: #0f121d;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
    .nav{
        display: flex;
        list-style: none;
        width: 100%;
        .active{
            color: #1890ff;
            }
        li{
            padding: 0px 20px;
            line-height: 50px;
            font-size: 16px;
            color: #FFF;
            }
        li:hover{
            color: #1890ff;
            cursor: pointer;
            }
   }

}

