.navbar{
    display: flex;
    justify-content: space-between;
    background: #0f121d;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
    .nav{
        display: flex;
        list-style: none;
        width: 100%;
        padding-left: 20px;
        .active{
            color: #1890ff;
            }
        li{
            padding: 0px 20px;
            line-height: 50px;
            font-size: 16px;
            color: #FFF;
            }
        li:hover{
            color: #1890ff;
            cursor: pointer;
            }
   }
   .book_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon{
        display: flex;
        flex-direction: column;
        span{
            color: #fff;
            min-width: 100px;
            display: inline-block;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    img{
     width: 30px;
     height: 30px;
     margin-left: 35px;
    }
   }
   .right-part{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    span{
        font-size: 16px;
        color: #FFF;
        line-height: 20px;
    }
    img{
        width:20px;
        height: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
   }
  
}
.ant-modal-body{
    .title{
        text-align: center;
        font-family: Aleo,Georgia,serif;
        color: #3e4b59;
        font-size: 36px;
    }
    .top{
        text-align: center;
        font-family: 'Open Sans',Helvetica,Arial,sans-serif; 
        cursor: pointer;
        span{
            color: #32404e;
            text-decoration: underline;
        }
        span:hover{
            color: #0d59c4;
        }
    }
    .input-part{
        margin-bottom: 30px;
        label{
            display: block;
            color: #7d848a;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 700;
            padding-bottom: 7px;
            margin-top: 20px;
        }
        input{
            background-color: #ebeeee;
            color: #3e4b59;
            border: 1px solid #afb9c1;
            width: 97%;
            line-height: 40px;
            border-radius: 2px;
        }
    }
    .other-login,.verify{
        font-size: 14px;
        color: #0d59c4;
        position: absolute;
        cursor: pointer;
    }
    .other-login{
        bottom: 50px;
    }
    .other-login:hover,.verify:hover{
        text-decoration: underline;
    }
    .log-out{
     font-size: 20px;
     font-family: Aleo,Georgia,serif;
     text-align: center;
    }

}

